name                                                                                                                             definition                                                                                                                                                                                                                                                      
-------------------------------------------------------------------------------------------------------------------------------- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CK_bookings_status_v2                                                                                                            ([status]='expired' OR [status]='completed' OR [status]='cancelled' OR [status]='confirmed' OR [status]='payment_pending' OR [status]='pending')                                                                                                                
CK_bookings_status                                                                                                               ([status]='expired' OR [status]='completed' OR [status]='cancelled' OR [status]='confirmed' OR [status]='pending')                                                                                                                                              
CHK_Booking_Status                                                                                                               ([status]='transferred' OR [status]='expired' OR [status]='completed' OR [status]='cancelled' OR [status]='confirmed' OR [status]='payment_pending' OR [status]='pending')                                                                                      

(3 rows affected)
